/*maincss*/

#content{
	width: 980px;
}
.dai{
	width: 12%;
	float: right;
	display: inline-block;
    border: 1px solid;
    margin: 10px 0 ;
}

.dedamaGood .dedama,
.kakurituGood .kakuritu{
	font-weight: bold;
	color: blue;
}

.dedamaVeryGood .dedama,
.kakurituVeryGood .kakuritu{
	font-weight: bold;
	color: blue;
	background: yellow;
}

.kakurituVeryGood{
    border: 2px solid blue;
}

.dedamaBad .dedama{
	color: red;
}

.kakurituBad,
.kakurituBad .kakuritu{
	color: #ccc;
}

.col{
    display: inline-block;
    width: 980px;
}

.not30{
	font-weight: bold;
	color: red;
	font-size: 1.5em;
}

.r{
	text-align: right;
}

.kankin{
	font-weight: bold;
	font-size: 1.2em;
}
.kankin span{
	font-size: 1.4em;
	color: blue;
}



