
/* ■クリア */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance:textfield;
}
ol, ul {
  list-style-type: none;
}


/* ■全体 */
input{padding:2px 4px;}
::placeholder {color: #ccc;}

/* ■汎用 */
.w38{width:38px;}
.w100{width:100px;}
.tr{text-align:right;}
.cb{clear: both;}
.b{font-weight:bold;}
.displayNone{display: none;}



/* ■topmenu */
#toplist li{
	width: 14%;
    display: inline-block;
    float: left;
    overflow: hidden;
    margin: 0 3%;
}

#toplist{
	width: 100%;
    overflow: hidden;
    margin: 15px 0 30px 0;
    padding: 0;
}

#toplist li a img{
     width: 100%;
}



/* ■maincss */

#content{
	width: 980px;
}

.topImge{
	width: 100%;
}

.dai{
	width: 12%;
	float: right;
	display: inline-block;
    border: 1px solid;
    margin: 10px 0 ;
}

.dedamaGood .dedama,
.kakurituGood .kakuritu{
	font-weight: bold;
	color: blue;
}

.dedamaVeryGood .dedama,
.kakurituVeryGood .kakuritu{
	font-weight: bold;
	color: blue;
	background: yellow;
}

.kakurituVeryGood{
    border: 2px solid blue;
}

.dedamaBad .dedama{
	color: red;
}

.kakurituBad,
.kakurituBad .kakuritu{
	color: #ccc;
}

.col{
    display: inline-block;
    width: 980px;
}

.not30{
	font-weight: bold;
	color: red;
	font-size: 1.5em;
}

.r{
	text-align: right;
}

.kankin{
	font-weight: bold;
	font-size: 1.2em;
}
.kankin span{
	font-size: 1.4em;
	color: blue;
}

.aki{
	font-weight: bold;
    float: right;
    padding-right: 5px;
}


/*■cinnamonPatrol*/
.sitContent{
	background: url('../img/shinamonBg.jpg');
}

.sitContent .f2{
    width: 800px;
}

.sitContent .f2 label{
    display: inline-block;
    width: 90px;
    height: 35px;
}

.sitContent .f3 span{
    display: inline-block;
	width: 65px;
	height: 30px;
}

.sitContent .f3 label input{
	width: 400px;
}

.check-box {
  cursor: pointer;
}

.check-box input {
  display: none;
}

.check-box input + span:before {
  content: "";
  display: inline-block;
  position: relative;
  top: 0.25em;
  margin: 0 2px 0 0;
  background-image: none, url("../img/checkbox-box.png");
  background-size: 100% auto, 40%;
  background-position: top 55% left 50%, 11px 5px;
  background-repeat: no-repeat, no-repeat;
  width: 40px;
  height: 20px;
}

.check-box input:checked + span:before {
  background-image: url("../img/checkbox-check3.png"), url("../img/checkbox-box.png");
}

.check-box input:checked + span {
      font-weight: bold;
      color: #f334ed;
}

/*
.check-box input + span:before {
  content: "";
  display: inline-block;
  position: relative;
  top: 0.25em;
  margin: 0 5px 0 0;
  background-image: none, url("../img/checkbox-box.png");
  background-size: 68% auto, 100%;
  background-position: top 55% left 50%, 0 0;
  background-repeat: no-repeat, no-repeat;
  width: 19px;
  height: 18px;
}

.check-box input:checked + span:before {
  background-image: url("../img/checkbox-check4.jpg"), url("../img/checkbox-box.png");
}
*/

td,label,tr{
	padding:0;
	margin:0;
}

.shinaImg{
	height: 200px;
    vertical-align: bottom;
}

.serch,.serchNow{
	padding:3px;
	font-size: 18px;
    width: 380px;
}

.cinnaLeft{
    display: inline-block;
    float: left;
    width: 400px;
}

.cinnaRight{
    display: inline-block;
    float: left;
    padding-left: 10px;
    width: 550px;
}

.seikaTime{
    font-size: 1.4em;
    font-weight: bold;
    padding: 0;
    margin: 5px 20px 5px 0;
    display: inline-block;
}

.tukaikata{
	font-size: 12px;
    font-weight: normal;
    border: 1px solid;
    padding: 1px 3px;
    vertical-align: middle;
    margin: 0px 0 2px 0;
    display: inline-block;
    background: white;
}

.cpError{
	color: red;
}
/*
.cpStop{
    pointer-events: none;
    color: #aaa;
}

.cpStop input
{
    pointer-events: none;
    color: #aaa;
    border: 1px solid #aaa;
}
*/
/*■■■ news ■■■*/
#news{
    border: 1px solid;
    padding: 5px;
    margin: 5px 5px 5px 50px;
    display: inline-block;
}
#news p{
    margin: 0px;
}
#news ul{
    margin: 0px;
    padding: 0px;
}


/*■■■ EP ■■■*/
.epTable td{
    padding: 0 10px;
    text-align: right;
}

.epTable .emp{
    color: red;
    font-weight: bold;
}

.syoji{
    font-size: 1.4em;
    color: blue;
}


/*■■■ 過去データ ■■■*/
.mae{
    padding: 20px 30px;
    display: inline-block;
    border: 1px solid #111;
    vertical-align: middle;
    text-align: center;
    margin: 0 30px;
    float: left;
}
.tugi{
    padding: 20px 30px;
    display: inline-block;
    border: 1px solid #111;
    vertical-align: middle;
    text-align: center;
    margin: 0 30px;
    float: left;
}

.tugi span, .mae span{
    font-weight: bold;
    font-size: 1.5em;
}

.florShousai{
    display: inline-block;
    float: right;
    float: left;
}

.notLink, .notLink span{
	pointer-events: none;
    background: #f1f1f1;
    color: #cfcfcf;
    border: none;
}


